#Library
library(TSA)
library(tseries)
library(timeSeries)
library(FinTS)
library(forecast)
library(lmtest)
library(readr)
library(nortest)
library(MASS)
library(pracma)
library(fracdiff)
library(arfima)
library(stats)
library(rugarch)
library(fGarch)